body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-ubuntu: Ubuntu;
  --font-inter: Inter;
  --font-microsoft-sans-serif: "Microsoft Sans Serif";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;

  /* Colors */
  --color-darkslategray-100: #483c3c;
  --color-black: #000;
  --color-white: #fff;
  --color-lavenderblush: #fff2f2;
  --color-crimson-100: #e52525;
  --color-gray: rgba(255, 255, 255, 0);
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-dimgray: #4c3f3f;

  /* Border radiuses */
  --br-3xs: 10px;
}
