.imah-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 42px;
  object-fit: cover;
}
.rectangle1-31-nav-31-front-31,
.rectangle2-31-nav-31-front {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  height: 45px;
}
.rectangle1-31-nav-31-front-31 {
  left: 972px;
  background-color: transparent;
  width: 157px;
}
.rectangle2-31-nav-31-front {
  left: 1161px;
  background-color: rgba(229, 37, 37, 0.75);
  width: 156px;
}
.english-31-nav,
.signup-31-nav-31 {
  position: absolute;
  top: 13px;
  left: 1012px;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  width: 108px;
  height: 22px;
}
.signup-31-nav-31 {
  top: 12px;
  left: 1210px;
  letter-spacing: 0.06em;
  width: 66px;
  height: 20px;
}
.earthplanet-31-nav-icon,
.expandarrow-3-icon {
  position: absolute;
  top: 9px;
  left: 981px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.expandarrow-3-icon {
  top: 15px;
  left: 1103px;
  width: 18px;
  height: 14px;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 1317px;
  height: 45px;
}
.unlimitedmoviestvshowsandmore- {
  position: absolute;
  top: 0;
  left: calc(50% - 503.43px);
  font-size: 45px;
  letter-spacing: 0.06em;
  display: inline-block;
  font-family: var(--font-ubuntu);
  width: 1006.86px;
  height: 65.39px;
}
.readytowatchenteryouremailtocr,
.watchanythingcancelanything-31 {
  position: absolute;
  letter-spacing: 0.06em;
  font-weight: 600;
  display: inline-block;
}
.watchanythingcancelanything-31 {
  top: 59px;
  left: 215px;
  font-size: 25px;
  width: 505.44px;
  height: 36.45px;
}
.readytowatchenteryouremailtocr {
  top: 109px;
  left: 41px;
  width: 851px;
  height: 38px;
}
.rectangle3-31-content-31-front {
  position: absolute;
  top: 159px;
  left: 86px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 766px;
  height: 57px;
}
.rectangle4-31-content-31-front {
  position: absolute;
  top: 266px;
  left: 309px;
  border-radius: var(--br-3xs);
  background-color: var(--color-crimson-100);
  width: 318px;
  height: 70px;
}
.expandarrow-31-content-31-fron-icon {
  position: absolute;
  top: 277.26px;
  left: 558px;
  width: 28.19px;
  height: 55.74px;
  object-fit: cover;
}
.emailaddress-31-content-31-fro,
.getstarted-31-content-31-front {
  position: absolute;
  letter-spacing: 0.02em;
  color: var(--color-lavenderblush);
  display: inline-block;
}
.emailaddress-31-content-31-fro {
  top: 175px;
  left: 109px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  width: 135.93px;
  height: 25.73px;
}
.getstarted-31-content-31-front {
  top: 290px;
  left: 389px;
  font-weight: 600;
  width: 157.07px;
  height: 28.94px;
}
.container {
  position: absolute;
  top: 261px;
  left: calc(50% - 454.5px);
  width: 1006.86px;
  height: 336px;
  font-size: var(--font-size-3xl);
}
.front {
  position: absolute;
  top: 34px;
  left: 93px;
  width: 1317px;
  height: 597px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.rectangle5-31-content5-31-desk {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-black);
  width: 1525px;
  height: 696px;
}
.rectangle13-31-content5-31-des,
.rectangle8-31-content5-31-desk {
  position: absolute;
  top: 696px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1525px;
  height: 7px;
}
.rectangle13-31-content5-31-des {
  top: 1405px;
}
.enjoy-on-your {
  margin: 0;
}
.enjoyonyourtv-31-content5-31-d,
.watchonsmarttvsplaystationxbox {
  position: absolute;
  left: 109px;
  letter-spacing: -0.04em;
  display: inline-block;
}
.enjoyonyourtv-31-content5-31-d {
  top: 210px;
  width: 552px;
  height: 87px;
}
.watchonsmarttvsplaystationxbox {
  top: 290px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-inter);
  width: 629px;
}
.rectangle19-31-content5-31-des {
  position: absolute;
  top: 157px;
  left: 892px;
  width: 477px;
  height: 265px;
}
.rectangle6-31-content5-31-desk-icon {
  position: absolute;
  top: 51px;
  left: 819px;
  border-radius: 120px;
  width: 623px;
  height: 486px;
  object-fit: cover;
}
.content5,
.rectangle7-31-section4-31-desk {
  position: absolute;
  top: 925px;
  left: 0;
  width: 1527px;
  height: 1412px;
}
.rectangle7-31-section4-31-desk {
  top: 0;
  background-color: var(--color-black);
  height: 702px;
}
.downloadyourshowstowatchofflin,
.saveyourfavouriteseasilyandalw {
  position: absolute;
  left: 885.16px;
  letter-spacing: -0.04em;
  display: inline-block;
}
.downloadyourshowstowatchofflin {
  top: 217px;
  font-family: var(--font-ubuntu);
  width: 587.77px;
}
.saveyourfavouriteseasilyandalw {
  top: 358px;
  font-size: var(--font-size-5xl);
  width: 537.7px;
}
.rectangle9-31-section4-31-desk-icon {
  position: absolute;
  top: 83px;
  left: 109.14px;
  width: 493.65px;
  height: 493px;
  object-fit: cover;
}
.rectangle11-31-section4-31-des {
  position: absolute;
  top: 485px;
  left: 155.2px;
  border-radius: 33px;
  background: linear-gradient(#000, #000), #000;
  border: 1px solid #dabfbf;
  box-sizing: border-box;
  width: 394.52px;
  height: 150px;
}
.rectangle10-31-section4-31-des-icon {
  position: absolute;
  top: 500px;
  left: 178.23px;
  width: 86.11px;
  height: 120px;
  object-fit: cover;
}
.downloading-31-section4-31-des,
.stangerthings-31-section4-31-d {
  position: absolute;
  letter-spacing: -0.04em;
  display: inline-block;
  width: 163.21px;
  height: 26px;
}
.downloading-31-section4-31-des {
  top: 550px;
  left: 275.36px;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: #1444ee;
}
.stangerthings-31-section4-31-d {
  top: 520px;
  left: 271.36px;
  font-size: var(--font-size-xl);
}
.iconoirdownload-31-section4-31 {
  position: absolute;
  top: 523px;
  left: 457.6px;
  width: 27.04px;
  height: 27px;
  overflow: hidden;
}
.section4-31 {
  position: absolute;
  top: 1628px;
  left: 0;
  width: 1527px;
  height: 702px;
  font-family: var(--font-microsoft-sans-serif);
}
.rectangle12-31-section3-31-des {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1530px;
  height: 738px;
}
.rectangle14-31-section3-31-des-icon {
  position: absolute;
  top: 96.39px;
  left: 886.9px;
  width: 537.76px;
  height: 538.19px;
  object-fit: cover;
}
.streamunlimitedmoviesandtvshow,
.watcheverywhere-31-section3-31 {
  position: absolute;
  top: 227.93px;
  left: 109.36px;
  letter-spacing: -0.04em;
  display: inline-block;
  width: 404.32px;
  height: 55.22px;
}
.streamunlimitedmoviesandtvshow {
  top: 309.26px;
  font-size: var(--font-size-5xl);
  width: 615.01px;
  height: 56.23px;
}
.section3 {
  position: absolute;
  top: 2337px;
  left: -1px;
  width: 1530px;
  height: 738px;
}
.rectangle18-31-sectionkid-31-d {
  position: relative;
  background-color: var(--color-black);
  width: 1529.99px;
  height: 746px;
  z-index: 0;
}
.createprofilesforkids-31-secti,
.sendchildrenonadventureswithth {
  position: absolute;
  margin: 0 !important;
  top: 294.34px;
  left: 831.71px;
  letter-spacing: -0.04em;
  display: inline-block;
  width: 495.62px;
  height: 55.82px;
  flex-shrink: 0;
  z-index: 1;
}
.sendchildrenonadventureswithth {
  top: 366.4px;
  font-size: var(--font-size-5xl);
  width: 592.93px;
  height: 85.26px;
  z-index: 2;
}
.rectangle16-31-sectionkid-31-d-icon {
  position: absolute;
  margin: 0 !important;
  top: 134.99px;
  left: 109.36px;
  width: 541.77px;
  height: 548.08px;
  object-fit: cover;
  z-index: 3;
}
.sectionkid {
  position: absolute;
  top: 3075px;
  left: -1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.rectangle17 {
  position: absolute;
  top: 3068px;
  left: 3.01px;
  background-color: var(--color-dimgray);
  width: 1529.99px;
  height: 7px;
}
.rectangle14,
.rectangle15 {
  position: absolute;
  top: 3824px;
  left: -1px;
  background-color: var(--color-black);
  width: 1530px;
  height: 1209px;
}
.rectangle14 {
  top: 3817px;
  background-color: var(--color-dimgray);
  height: 7px;
}
.frequentlyaskedquestions {
  position: absolute;
  top: 0;
  left: 460px;
  letter-spacing: -0.04em;
  display: inline-block;
  width: 607px;
  height: 46.65px;
}
.rectangle20-31-component1-31-g {
  position: absolute;
  top: 23px;
  left: 71px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(81, 71, 71, 0.66);
  width: 1384px;
  height: 112px;
}
.rectangle21-31-component1-31-g,
.rectangle22-31-component1-31-g,
.rectangle23-31-component1-31-g,
.rectangle24-31-component1-31-g,
.rectangle25-31-component1-31-g {
  position: absolute;
  top: 319px;
  left: 71px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(81, 71, 71, 0.66);
  width: 1384px;
  height: 112px;
}
.rectangle22-31-component1-31-g,
.rectangle23-31-component1-31-g,
.rectangle24-31-component1-31-g,
.rectangle25-31-component1-31-g {
  top: 763px;
}
.rectangle22-31-component1-31-g,
.rectangle24-31-component1-31-g,
.rectangle25-31-component1-31-g {
  top: 615px;
}
.rectangle22-31-component1-31-g,
.rectangle25-31-component1-31-g {
  top: 467px;
}
.rectangle22-31-component1-31-g {
  top: 171px;
}
.whatisnetflix-31-component1-31 {
  position: absolute;
  top: 64px;
  left: 129px;
  letter-spacing: 0.02em;
}
.mdicancel-bold-31-component1-3-icon {
  position: absolute;
  top: 40px;
  left: 1353.02px;
  width: 74.95px;
  height: 74.95px;
  overflow: hidden;
}
.howmuchdoesnetflixcost-31-comp {
  position: absolute;
  top: 203px;
  left: 129px;
  letter-spacing: 0.02em;
}
.isnetflixgoodforkids-31-compon,
.whatcaniwatchonnetflix-31-comp {
  position: absolute;
  top: 795px;
  left: 129px;
  letter-spacing: 0.02em;
}
.whatcaniwatchonnetflix-31-comp {
  top: 656px;
}
.howdoicancel-31-component1-31-,
.wherecaniwatch-31-component1-3 {
  position: absolute;
  top: 508px;
  left: 131px;
  letter-spacing: 0.02em;
}
.wherecaniwatch-31-component1-3 {
  top: 360px;
  left: 129px;
}
.mdicancel-bold-31-component1-3-icon1 {
  position: absolute;
  top: 336px;
  left: 1353.02px;
  width: 74.95px;
  height: 74.95px;
  overflow: hidden;
}
.mdicancel-bold-31-component1-3-icon2,
.mdicancel-bold-31-component1-3-icon3 {
  position: absolute;
  top: 188px;
  left: 1353px;
  width: 74.95px;
  height: 74.95px;
  overflow: hidden;
}
.mdicancel-bold-31-component1-3-icon3 {
  top: 494px;
}
.mdicancel-bold-31-component1-3-icon4,
.mdicancel-bold-31-component1-3-icon5 {
  position: absolute;
  top: 631px;
  left: 1353.02px;
  width: 74.95px;
  height: 74.95px;
  overflow: hidden;
}
.mdicancel-bold-31-component1-3-icon5 {
  top: 779px;
  left: 1353px;
}
.mdicancel-bold-31-component1-3-icon6 {
  position: absolute;
  height: 2.59%;
  width: 2.55%;
  top: 3.72%;
  right: 6.27%;
  bottom: 93.7%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.rectangle27-31-group1-31-compo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 914px;
  height: 397px;
}
.readytowatchenteryouremailtocr1 {
  position: absolute;
  top: 137px;
  left: 31px;
  letter-spacing: 0.06em;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 851px;
  height: 36px;
}
.rectangle3-31-group1-31-compon,
.rectangle4-31-group1-31-compon {
  position: absolute;
  top: 185px;
  border-radius: var(--br-3xs);
  height: 53px;
}
.rectangle3-31-group1-31-compon {
  left: 76px;
  background-color: var(--color-gray);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 451px;
}
.rectangle4-31-group1-31-compon {
  left: 550px;
  background-color: var(--color-crimson-100);
  width: 318px;
}
.expandarrow-31-group1-31-compo-icon {
  position: absolute;
  top: 185px;
  left: 793px;
  width: 28px;
  height: 53px;
  object-fit: cover;
}
.getstarted-31-group1-31-compon {
  position: absolute;
  top: 199px;
  left: 625px;
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--color-lavenderblush);
  width: 157px;
  height: 27px;
}
.emailaddress-31-group1-31-comp {
  position: absolute;
  top: 203px;
  left: 103px;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
  width: 104px;
  height: 17px;
}
.group1-31-component1-31-group2 {
  position: absolute;
  top: 911px;
  left: 324px;
  width: 914px;
  height: 397px;
  font-size: var(--font-size-3xl);
}
.component1,
.group2 {
  position: absolute;
  width: 1525px;
}
.component1 {
  top: 103.47px;
  left: 0;
  background-color: var(--color-black);
  height: 1510.53px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group2 {
  top: 3824px;
  left: 4px;
  height: 1614px;
}
.icon,
.rectangle29 {
  position: absolute;
  left: 0;
}
.rectangle29 {
  top: 5438px;
  background-color: #3b3a3a;
  width: 1529px;
  height: 9px;
}
.icon {
  top: 5444px;
  width: 1895px;
  height: 376px;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  width: 100%;
  height: 5814px;
  overflow: hidden;
  background-image: url(./public/desktop--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-ubuntu);
}
